/*
* Global
*/
.column__tracks {
    flex: 1;
    border-bottom: 1px solid $layout-border-colour;
}

/*
* Table
*/
.column__tracks__table__header,
.column__tracks__table__item {
    display: grid;
    grid-template-columns: 5% 28.333333% 28.333333% 28.333333% 10%;
}

.column__tracks__table__cell-title {
    border-bottom: 1px solid $layout-border-colour;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:not(:last-child) {
        border-right: 1px solid $layout-border-colour;
    }
}

.column__tracks__table__item__attr {
    padding: 0 $base-pm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column__tracks__table__item {
    &:hover {
         background-color: nth($blue-grey, 2);
    }
}
