/*
 * Global
 */
.column__tracks {
    flex: 1;
}

/*
 * Table of tracks in the current queue
 */
// Table column titles and table row layout
.column__tracks__table__header, 
.column__tracks__table__item { 
    display: grid;
    grid-template-columns: 5% 28.333333% 28.333333% 28.333333% 10%;
}

// Title cell on the header
.column__tracks__table__cell-title { 
    font-size: .9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:not(:last-child) {
        border-right: 1px solid $layout-border-colour;
    }
}

// Row cell
.column__tracks__table__item__attr { 
    font-size: .9em;
    padding: 0 $base-pm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Table row
.column__tracks__table__item { 
    &:hover {
         background-color: nth($palette-primary, 2);
    }
}
