/*
* Global
*/
.column__tracks {
    flex: 1;
    border-bottom: 1px solid $layout-border-colour;
}

/*
* Table
*/
.column__tracks__table__header,
.column__tracks__table__item {
    display: grid;
    grid-template-columns: 2% 28% 28% 28% 6% 8%;
}

.column__tracks__table__atribute {
    border-bottom: 1px solid $layout-border-colour;
    
    &:not(:last-child) {
        border-right: 1px solid $layout-border-colour;
    }
}

.column__tracks__table__item__attr {
    padding: 0 $base-pm;
}

.column__tracks__table__item {
    &:hover {
         background-color: nth($blue-grey, 2);
    }
}
