#marcy-mount, #marcy-wrap, {
    width: 100%;
    height: 100%;
}

.separator {
    height: 1px;
    background-color: $layout-border-colour;
    min-width: 1px;
    width: 100%;
    border: none;
    margin: $base-pm*2 0;
}

// * {
//     outline: 1px solid red;
// }

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
