/*
* Global
*/
.column__selector__toolbar__input-wrapper {
    flex: 1;
    line-height: 1;
}

.column__selector__toolbar__input {
    width: 100%;
    user-select: initial;
    font-size: .8em;
    color: nth($palette-primary, 7);
    padding: 0 $base-pm/2;
    &::selection {
        color: currentColor; 
        background: nth($palette-primary, 5);
    }
}
