i {
    display: inline-block;
}

.icon--action-icon {
    svg {
        transform: scale(.75);
        fill:  nth($palette-primary, 8);
    }

    &:hover {
        background-color: nth($palette-primary, 2);
    }
}

.icon--file-list-item {
     svg {
        transform: scale(.75);
        fill:  nth($palette-primary, 8);
    }
}

.player-panel__lower__control__icon {
    transform: scale(.85);
}
