i {
    display: inline-block;
}

.column__selector__toolbar__action-icon {
    svg {
        transform: scale(.75);
        fill:  nth($palette-primary, 8);
    }

    &:hover {
        background-color: nth($palette-primary, 2);
    }
}

.player-panel__lower__control__icon {
    transform: scale(.85);
}
