.sidebar__menu {
    flex: 1;
    padding-top: $base-pm*2;
    border-right: 1px solid $layout-border-colour;
}

.sidebar__menu__items-item {
    padding: $base-pm $base-pm*2;

    &:hover,
    &.is-active {
        background-color: nth($blue-grey, 2);
    }
}
