.column__selector__folders, 
.column__selector__folders__listing {
    height: 100%;
}

// Folder and file list container
.column__selector__folders__listing {
    overflow-x: hidden;
    max-height: calc(100vh - 1.65em);
    padding-bottom: $base-pm*2;
    // Every row (every file/folder being listed)
    div {
        font-size: .8em;
        padding: $base-pm/4 $base-pm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &:hover {
            background-color: nth($palette-primary, 2);
        }
    }
}
